
.icon-search:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-spin:before { content: '\e830'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
